body {
  background-color: rgb(0, 121, 191);
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2408x1600/e29564dc62742097a4cb32dc259a383e/photo-1549989476-69a92fa57c36.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
